<%- include('partials/header') %>


<div class=" centered">
  <div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwA4RS8LKxEADLKKGiq2QJAJaws8BFbY9wcCXRVjtzmXgyyUlv&usqp=CAU" alt="">
    <h1 class="display-4">NITTE MEEENAKSHI INSTITUTE OF TECHNOLOGY</h1>
    <p class="lead">It's all about those happy moments with you</p>
    <p>Share here with your friends</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<div class="space">

</div>
<br>
<br>
<%- include('partials/footer') %>

