<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="col-12 "></div>
  <h1>Here are your tweets</h1>
  <div class="container">
    <%    usersWithSecrets.forEach(function (user) {%>
  <% var usersecrets=user.secret%>
  <% console.log(usersecrets);%>
    <%    usersecrets.forEach(function (sec) {%>
    <p class="secret-text"><%=sec%></p>
    <%  })%>
    <%  })%>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit your tweets</a>
  </div>
</div>

<%- include('partials/footer') %>
